* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* PHONE FIRST */
@media screen and (max-width: 428px) {
  /* HEADER START*/
  header {
    width: 100%;
  }

  .header {
    background-color: #ffb8ca;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 10px 17px 0px 17px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    width: 199px;
    height: 50px;
    position: relative;

    transition: all 500ms ease;
  }

  .logo:hover,
  .logo:focus {
    top: 2px;
  }

  .burger-menu {
    width: 20px;
    height: 12px;
  }

  .hero-page {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  .hero-items-div {
    display: flex;
    flex-direction: column;

    gap: 25px;

    margin: 150px 0px 150px 0px;
  }

  .hero-buttons-div {
    display: flex;
    gap: 10px;
  }

  .hero-page-p-pasion {
    width: 80%;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;

    z-index: 3;
  }

  .hero-page-p-pasion > span {
    font-family: "Titan One", sans-serif;
    font-size: 48px;
    line-height: 96%;
    color: #d41443;
  }

  .hero-page-products-button {
    width: 62px;
    height: 24px;

    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #fff;
    background-color: #d41443;

    border: none;
    border-radius: 50px;

    z-index: 3;
    transition: all 500ms ease;
  }

  .hero-page-products-button:hover,
  .hero-page-products-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .hero-page-howitsmade-button {
    width: 82px;
    height: 24px;

    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #d41443;

    border: none;
    border-radius: 50px;

    z-index: 3;
    transition: all 500ms ease;
  }

  .hero-page-howitsmade-button:hover,
  .hero-page-howitsmade-button:focus {
    background-color: #ffdede;
  }

  .image-ice-cream-stack {
    position: absolute;

    bottom: 0px;
    right: 20px;

    width: 171px;
    height: 410px;

    z-index: 2;
  }

  .hero-big-circle-svg {
    right: -17px;
    top: 40px;

    position: absolute;

    z-index: 1;
  }

  /* HEADER END*/

  /* MAIN START */

  /* SECTION 2 START */
  .section-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 17px 50px 17px;
  }

  .section-two-titles {
    width: auto;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    gap: 20px;
  }

  .section-two-titles > p {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
  }

  .section-two-titles > h2 {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
  }

  .section-two-div-products-list {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    padding: 10px 0px 0px 0px;
  }

  .section-two-products-list {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
  }

  .section-two-products-list-items-first {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    position: relative;
  }

  .section-two-products-list-items-second {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    position: relative;
  }
  .section-two-products-list-items-third {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    position: relative;
  }

  .products-list-items-img {
    width: 280px;
    height: 280px;
  }

  .products-list-items-background-ice-cream {
    background-color: #ffb8ca;
    min-width: 90%;
    height: 489px;

    border-radius: 20px;

    position: absolute;

    z-index: -1;

    bottom: 0px;
  }

  .products-list-items-background-ice-coffe {
    background-color: #f0d1a5;
    min-width: 90%;
    height: 489px;

    border-radius: 20px;

    position: absolute;

    z-index: -1;

    bottom: 0px;
  }

  .products-list-items-background-milkshake {
    background-color: #c2e297;
    min-width: 90%;
    height: 489px;

    border-radius: 20px;

    position: absolute;

    z-index: -1;

    bottom: 0px;
  }

  .products-list-items-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    /* padding-top: 20px; */
  }

  .products-list-items-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    width: 80%;
  }

  .products-list-items-button {
    width: 40px;
    height: 40px;

    border-radius: 50px;
    border: none;

    color: #d41443;
    background-color: #fff;

    margin-bottom: 40px;
  }

  /* SECTION 2 END */

  /* SECTION 3 START */

  .section-three {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #fff5f6;

    padding: 50px 17px 50px 17px;

    gap: 30px;
  }

  .section-three-div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
  }

  .section-three-div > p {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
  }

  .section-three-div > h2 {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;

    width: 90%;
  }

  .section-three-div-cow-milk {
    display: flex;
    justify-content: center;

    flex-direction: column;

    gap: 20px;

    position: relative;
  }

  .section-three-cow-image {
    width: 280px;
    height: 280px;
  }

  .section-three-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: #000;

    width: 70%;
  }

  .section-three-p-two {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: #907e82;

    width: 70%;
  }

  .section-three-button {
    width: 176px;
    height: 44px;

    border: none;
    border-radius: 50px;
    background-color: #fff;

    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #d41443;
  }

  .section-three-button:hover,
  .section-three-button:focus {
    background-color: #ffdede;
  }

  .section-three-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .section-three-informations-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
  }

  .informations-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
  }

  .informations-list-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .informations-list-p {
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: #000;

    width: 80%;
  }

  /* SECTION 3 END */

  /* SECTION 4 START */
  .group-image {
    width: 100%;
  }
  /* SECTION 4 END */

  /* SECTION 5 START */

  .reviews {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-image {
    width: 85px;
    height: 85px;
    border-radius: 44px;
  }

  .user-review {
    margin-top: 70px;

    width: 157px;
    height: 213px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 260%; /* 31.2px */
    letter-spacing: 0.48px;
  }

  .reviews-slider {
    margin-top: 60px;
    color: red;
    font-weight: 800;
    font-size: 30px;
  }

  .user-information {
    margin-top: 16px;

    width: 172px;
    height: 25px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
  }

  /* SECTION 5 END */

  /* SECTION 6 START */

  .locations {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .locations-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .location {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 40px 0px 40px 32px;

    width: 280px;
    height: 412px;

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  }

  .location-title {
    border-radius: 4px;
    background: #f0d1a5;

    width: 80px;
    height: 16px;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
  }

  .green {
    background: #c2e297;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
  }

  .location-info h3 {
    width: 75px;
    color: #000;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
  }

  .location-info p {
    width: 216px;
    height: 36px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.48px;
  }

  .location-available {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .location-available-days {
    width: 150px;
    color: #000;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }

  .location-available-hours {
    width: 161px;
    height: 23px;

    color: #ffa5ba;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }

  .location-contact {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }

  .location-contact a {
    width: 179px;
    height: 18px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }

  .locations-buttons-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .locations-button {
    border: none;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background: #d41342;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .locations-button:hover,
  .locations-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .franchise-button {
    border: none;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background: #fff;

    color: #d41342;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .franchise-button:hover,
  .franchise-button:focus {
    background-color: #ffdede;
  }

  /* SECTION 6 END */

  /* MAIN END */

  /* FOOTER START */

  .footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }

  .footer-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer-slogan p {
    width: 232px;
    height: 42px;
    color: #ffa5ba;
    font-family: "Titan One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .footer-slogan h3 {
    width: 200px;
    height: 76px;
    color: #d41443;
    font-family: "Titan One";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
  }

  .footer-contacts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
  }

  .footer-contacts a {
    color: #d41443;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }

  .footer-contacts a span {
    color: #000;
    text-align: right;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 22.32px */
  }

  .copyright {
    margin-top: 56px;
    width: 280px;
    color: #907e82;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 152%; /* 21.28px */
  }

  /* FOOTER END */
}
