* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* PHONE FIRST */
@media screen and (max-width: 428px) {
  /* HEADER START*/
  header {
    width: 100%;
  }

  .header {
    background-color: #ffb8ca;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 10px 17px 0px 17px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    width: 199px;
    height: 50px;
    position: relative;

    transition: all 500ms ease;
  }

  .logo:hover,
  .logo:focus {
    top: 2px;
  }

  .burger-menu {
    width: 20px;
    height: 12px;
  }

  .hero-page {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  .hero-items-div {
    display: flex;
    flex-direction: column;

    gap: 25px;

    margin: 150px 0px 150px 0px;
  }

  .hero-buttons-div {
    display: flex;
    gap: 10px;
  }

  .hero-page-p-pasion {
    width: 80%;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;

    z-index: 3;
  }

  .hero-page-p-pasion > span {
    font-family: "Titan One", sans-serif;
    font-size: 48px;
    line-height: 96%;
    color: #d41443;
  }

  .hero-page-products-button {
    width: 62px;
    height: 24px;

    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #fff;
    background-color: #d41443;

    border: none;
    border-radius: 50px;

    z-index: 3;
    transition: all 500ms ease;
  }

  .hero-page-products-button:hover,
  .hero-page-products-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .hero-page-howitsmade-button {
    width: 82px;
    height: 24px;

    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #d41443;

    border: none;
    border-radius: 50px;

    z-index: 3;
    transition: all 500ms ease;
  }

  .hero-page-howitsmade-button:hover,
  .hero-page-howitsmade-button:focus {
    background-color: #ffdede;
  }

  .image-ice-cream-stack {
    position: absolute;

    bottom: 0px;
    right: 20px;

    width: 171px;
    height: 410px;

    z-index: 2;
  }

  .hero-big-circle-svg {
    right: -17px;
    top: 40px;

    position: absolute;

    z-index: 1;
  }

  .header-buynow {
    display: none;
  }

  .header-absolute {
    display: none;
  }

  /* HEADER END*/

  /* MAIN START */

  /* SECTION 2 START */
  .section-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 17px 50px 17px;
  }

  .section-two-titles {
    width: auto;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    gap: 20px;
  }

  .section-two-titles > p {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
  }

  .section-two-titles > h2 {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
  }

  .section-two-div-products-list {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    padding: 10px 0px 0px 0px;
  }

  .section-two-products-list {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
  }

  .section-two-products-list-items-first {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    position: relative;
  }

  .section-two-products-list-items-second {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    position: relative;
  }

  .section-two-products-list-items-third {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    position: relative;
  }

  .products-list-items-img {
    width: 280px;
    height: 280px;
  }

  .products-list-items-background-ice-cream {
    background-color: #ffb8ca;
    min-width: 90%;
    height: 489px;

    border-radius: 20px;

    position: absolute;

    z-index: -1;

    bottom: 0px;
  }

  .products-list-items-background-ice-coffe {
    background-color: #f0d1a5;
    min-width: 90%;
    height: 489px;

    border-radius: 20px;

    position: absolute;

    z-index: -1;

    bottom: 0px;
  }

  .products-list-items-background-milkshake {
    background-color: #c2e297;
    min-width: 90%;
    height: 489px;

    border-radius: 20px;

    position: absolute;

    z-index: -1;

    bottom: 0px;
  }

  .products-list-items-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    /* padding-top: 20px; */
  }

  .products-list-items-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    width: 80%;
  }

  .products-list-items-button {
    width: 40px;
    height: 40px;

    border-radius: 50px;
    border: none;

    color: #d41443;
    background-color: #fff;

    margin-bottom: 40px;
  }

  /* SECTION 2 END */

  /* SECTION 3 START */

  .section-three {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #fff5f6;

    padding: 50px 17px 50px 17px;

    gap: 30px;
  }

  .section-three-div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
  }

  .section-three-div > p {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
  }

  .section-three-div > h2 {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;

    width: 90%;
  }

  .section-three-div-cow-milk {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    position: relative;
  }

  .section-three-cow-image {
    width: 280px;
    height: 280px;
  }

  .section-three-aside {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .section-three-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: #000;

    width: 70%;
  }

  .section-three-p-two {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    letter-spacing: 0.04em;
    color: #907e82;

    width: 70%;
  }

  .section-three-button {
    width: 176px;
    height: 44px;

    border: none;
    border-radius: 50px;
    background-color: #fff;

    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #d41443;
  }

  .section-three-button:hover,
  .section-three-button:focus {
    background-color: #ffdede;
  }

  .section-three-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .section-three-informations-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
  }

  .informations-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
  }

  .informations-list-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .informations-list-p {
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: #000;

    width: 80%;
  }

  /* SECTION 3 END */

  /* SECTION 4 START */
  .group-image {
    width: 100%;
  }
  /* SECTION 4 END */

  /* SECTION 5 START */

  .reviews {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-image {
    width: 85px;
    height: 85px;
    border-radius: 44px;
  }

  .user-review {
    margin-top: 70px;

    width: 157px;
    height: 213px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 260%; /* 31.2px */
    letter-spacing: 0.48px;
  }

  .reviews-slider {
    margin-top: 60px;
    color: red;
    font-weight: 800;
    font-size: 30px;
  }

  .user-information {
    margin-top: 16px;

    width: 172px;
    height: 25px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
  }

  /* SECTION 5 END */

  /* SECTION 6 START */

  .locations {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .locations-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .location {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 40px 0px 40px 32px;

    width: 280px;
    height: 412px;

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  }

  .location-title {
    border-radius: 4px;
    background: #f0d1a5;

    width: 80px;
    height: 16px;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
  }

  .green {
    background: #c2e297;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
  }

  .location-info h3 {
    width: 75px;
    color: #000;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
  }

  .location-info p {
    width: 216px;
    height: 36px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.48px;
  }

  .location-available {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .location-available-days {
    width: 150px;
    color: #000;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }

  .location-available-hours {
    width: 161px;
    height: 23px;

    color: #ffa5ba;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }

  .location-contact {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }

  .location-contact a {
    width: 179px;
    height: 18px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }

  .locations-buttons-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .locations-button {
    border: none;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background: #d41342;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .locations-button:hover,
  .locations-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .franchise-button {
    border: none;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background: #fff;

    color: #d41342;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .franchise-button:hover,
  .franchise-button:focus {
    background-color: #ffdede;
  }

  /* SECTION 6 END */

  /* MAIN END */

  /* FOOTER START */

  .footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer-slogan p {
    width: 232px;
    height: 42px;
    color: #ffa5ba;
    font-family: "Titan One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .footer-slogan h3 {
    width: 200px;
    height: 76px;
    color: #d41443;
    font-family: "Titan One";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
  }

  .footer-contacts {
    margin-top: 40px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
  }

  .footer-contacts a {
    color: #d41443;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }

  .footer-contacts a span {
    color: #000;
    text-align: right;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 22.32px */
  }

  .copyright {
    margin: auto;
    width: 280px;
    color: #907e82;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 152%; /* 21.28px */
  }

  /* FOOTER END */
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  /* HEADER START */
  header {
    width: 100%;
  }

  .header {
    background-color: #ffb8ca;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 32px 32px 0px 32px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .header-buynow {
    width: 160px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background: #fff;
    color: #d41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .header-buynow:hover,
  .header-buynow:focus {
    background-color: #ffdede;
  }

  .hero-page {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero-items-div {
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin: 20px 0px 190px 0px;
  }

  .hero-page-p-pasion {
    width: 162px;
    color: #fff;
    font-family: "Titan One";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88px;
    text-transform: uppercase;
    z-index: 3;
  }

  .hero-page-p-pasion > span {
    color: #d41443;
    font-family: "Titan One";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.5%;
    letter-spacing: 1.36px;
    text-transform: uppercase;
  }

  .hero-buttons-div {
    display: flex;
    gap: 10px;
  }

  .hero-page-products-button {
    width: 62px;
    height: 24px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #d41443;
    border-radius: 50px;
  }

  .hero-page-products-button:hover,
  .hero-page-products-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .hero-page-howitsmade-button {
    width: 83px;
    height: 24px;
    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #d41443;
    border: none;
    border-radius: 50px;
    z-index: 3;
    transition: all 500ms ease;
  }

  .hero-page-howitsmade-button:hover,
  .hero-page-howitsmade-button:focus {
    background-color: #ffdede;
  }

  .image-ice-cream-stack {
    position: absolute;

    bottom: 0px;
    left: 50%;

    width: 143px;
    height: 336px;

    z-index: 2;
  }

  .hero-big-circle-svg {
    width: 335px;
    height: 335px;

    left: 250px;
    bottom: 40px;

    position: absolute;

    z-index: 1;
  }

  .bio-milk {
    position: absolute;
    bottom: 16px;
  }

  .header-icecream-text {
    position: absolute;
    left: 150px;
    bottom: 81px;

    width: 114px;
    height: 48px;
    color: #fff;
    font-family: "DM Sans";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 12px */

    z-index: 4;
  }

  .tasty-woman {
    position: absolute;
    right: 10px;
    bottom: 0;

    z-index: 4;
  }

  .number-of-stores {
    position: absolute;
    top: 10px;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .number-of-cafes {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .number-of-cafes h3 {
    color: #d41443;
    text-align: right;
    font-family: "Titan One";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;

    z-index: 3;
  }

  .number-of-cafes p {
    color: #fff;
    text-align: right;
    font-family: "DM Sans";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .number-of-cafes svg {
    position: absolute;
    top: 0;
    right: -5px;
  }

  .number-of-foodtrucks {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .number-of-foodtrucks h3 {
    color: #d41443;
    text-align: right;
    font-family: "Titan One";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;

    z-index: 3;
  }

  .number-of-foodtrucks p {
    color: #fff;
    text-align: right;
    font-family: "DM Sans";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .number-of-foodtrucks svg {
    position: absolute;
    top: 0;
    right: -5px;
  }
  /* HEADER END */

  /* MAIN START */

  /* SECTION 2 START */

  .section-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px 32px 0px 32px;
  }

  .section-two-titles {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 18px;
  }

  .section-two-titles > p {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
  }

  .section-two-titles > h2 {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
  }

  .section-two-div-products-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px 0px 0px 0px;
  }

  .section-two-products-list-items-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }

  .products-list-items-img {
    width: 224px;
    height: 224px;
  }

  .products-list-items-background-ice-cream {
    background-color: #ffb8ca;
    min-width: 224px;
    height: 473px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }

  .products-list-items-title {
    color: #fff;
    text-align: center;
    font-family: "Titan One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .products-list-items-text {
    width: 188px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 176%; /* 24.64px */
    letter-spacing: 0.56px;
  }

  .products-list-items-button {
    width: 40px;
    height: 40px;

    border-radius: 50px;
    border: none;

    color: #d41443;
    background-color: #fff;

    margin-bottom: 40px;
  }

  .section-two-products-list-items-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }

  .products-list-items-background-ice-coffe {
    background-color: #f0d1a5;
    min-width: 224px;
    height: 473px;
    flex-shrink: 0;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }

  .section-two-products-list-items-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }

  .products-list-items-background-milkshake {
    background-color: #c2e297;
    min-width: 224px;
    height: 473px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }
  /* SECTION 2 END */

  /* SECTION 3 START */

  .section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5f6;
    padding: 50px 17px 50px 17px;
    gap: 30px;
  }

  .section-three-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .section-three-div > p {
    color: #ffa5ba;
    text-align: center;
    font-family: "Titan One";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .section-three-div > h2 {
    color: #d41443;
    text-align: center;
    font-family: "Titan One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
  }

  .section-three-div-cow-milk {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    position: relative;
  }

  .section-three-cow-image {
    width: 336px;
    height: 336px;
  }

  .section-three-aside {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .section-three-p {
    color: #000;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 174%; /* 24.36px */
    letter-spacing: 0.56px;
    width: 334px;
    height: 95px;
  }

  .section-three-p-two {
    width: 334px;
    height: 155px;
    color: #907e82;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 194%; /* 27.16px */
    letter-spacing: 0.56px;
  }

  .section-three-button {
    width: 176px;
    height: 44px;

    border: none;
    border-radius: 50px;
    background-color: #fff;

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #d41443;
  }

  .section-three-button:hover,
  .section-three-button:focus {
    background-color: #ffdede;
  }

  .section-three-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .section-three-informations-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 20px;
  }

  .informations-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .informations-list-title {
    color: #d41443;
    font-family: "Titan One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
  }

  .informations-list-p {
    color: #000;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 174%; /* 24.36px */
    letter-spacing: 0.28px;
  }

  /* SECTION 3 END */

  /* SECTION 4 START */
  .group-image {
    width: 100%;
  }
  /* SECTION 4 END */

  /* SECTION 5 START */

  .reviews {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-image {
    width: 85px;
    height: 85px;
    border-radius: 44px;
  }

  .user-review {
    margin-top: 57px;
    width: 492px;
    height: 83px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 214%; /* 29.96px */
    letter-spacing: 0.56px;
  }

  .reviews-slider {
    margin-top: 40px;
    color: red;
    font-weight: 800;
    font-size: 30px;
  }

  .user-information {
    margin-top: 16px;

    width: 172px;
    height: 25px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
  }

  /* SECTION 5 END */

  /* SECTION 6 START */

  .locations {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  .locations-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    align-items: center;
  }

  .location {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 40px 0px 40px 32px;

    width: 224px;
    /* height: 528px; */

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  }

  .location-title {
    border-radius: 4px;
    background: #f0d1a5;

    width: 80px;
    height: 28px;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
  }

  .green {
    width: 138px;
    background: #c2e297;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 12px;
  }

  .location-info h3 {
    color: #000;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
    letter-spacing: 0.56px;
  }

  .location-info p {
    width: 176px;
    height: 65px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 166%; /* 23.24px */
    letter-spacing: 0.56px;
  }

  .location-available {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .location-available-days {
    width: 150px;
    color: #000;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }

  .location-available-hours {
    width: 161px;
    height: 23px;

    color: #ffa5ba;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }

  .location-contact {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
  }

  .location-contact a {
    width: 179px;
    height: 18px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }

  .locations-buttons-list {
    /* margin-top: 60px; */
    display: flex;
    flex-direction: row;
    gap: 14px;
  }

  .locations-button {
    border: none;
    width: 192px;
    height: 44px;
    border-radius: 22px;
    background: #d41342;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .locations-button:hover,
  .locations-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .franchise-button {
    border: none;
    width: 174px;
    height: 44px;
    border-radius: 22px;
    background: #fff;

    color: #d41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .franchise-button:hover,
  .franchise-button:focus {
    background-color: #ffdede;
  }
  /* SECTION 6 END */

  /* MAIN END */

  /* FOOTER START */

  .footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  .footer-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .footer-slogan p {
    max-width: 340px;
    color: #ffa5ba;
    font-family: "Titan One";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
  }

  .footer-slogan h3 {
    max-width: 340px;
    color: #d41443;
    font-family: "Titan One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.88px;
    text-transform: uppercase;
  }

  .footer-contacts {
    margin-top: 60px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
  }

  .footer-contacts a {
    color: #d41443;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }

  .footer-contacts a span {
    color: #000;
    text-align: right;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
  }

  .copyright {
    margin: auto;
    width: 280px;
    color: #907e82;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
    letter-spacing: 0.28px;
  }

  /* FOOTER END */
}

@media screen and (min-width: 769px) {
  body {
    max-width: 1200px;
    margin: auto;
  }

  /* HEADER START */
  header {
    max-width: 100%;
  }

  .header {
    background-color: #ffb8ca;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 32px 32px 0px 32px;
  }

  .nav-bar {
    position: relative;
    z-index: 5;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
  }

  .nav-bar-links {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 35px; */
  }

  .nav-bar-links li a {
    color: #fff;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .nav-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .burger-menu {
    display: none;
  }

  .header-buynow {
    width: 160px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background: #fff;
    color: #d41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .header-buynow:hover,
  .header-buynow:focus {
    background-color: #ffdede;
  }

  .hero-page {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero-items-div {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 60px 0px 315px 0px;
  }

  .hero-page-p-pasion {
    width: 277px;
    color: #fff;
    font-family: "Titan One";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    text-transform: uppercase;
    z-index: 3;
  }

  .hero-page-p-pasion > span {
    color: #d41443;
    font-family: "Titan One";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.5%;
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }

  .hero-buttons-div {
    display: flex;
    gap: 12px;
  }

  .hero-page-products-button {
    width: 107px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #d41443;

    border: none;
    border-radius: 50px;
  }

  .hero-page-products-button:hover,
  .hero-page-products-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .hero-page-howitsmade-button {
    width: 136px;
    height: 40px;
    color: #d41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-radius: 50px;
    z-index: 3;
    transition: all 500ms ease;
  }

  .hero-page-howitsmade-button:hover,
  .hero-page-howitsmade-button:focus {
    background-color: #ffdede;
  }

  .image-ice-cream-stack {
    position: absolute;

    bottom: 0px;
    left: 50%;

    width: 236px;
    height: 557px;

    z-index: 2;
  }

  .hero-big-circle-svg {
    width: 534px;
    height: 534px;
    /* color: #000; */
    fill: #ffa5ba;

    right: 100px;
    /* left: 450px; */
    bottom: 84px;

    position: absolute;

    /* z-index: 10; */
  }

  .hero-big-circle-svg-use {
    width: 534px;
    height: 534px;
  }

  .bio-milk {
    width: 213px;
    height: 216px;
    position: absolute;
    bottom: 60px;
  }

  .header-icecream-text {
    position: absolute;
    left: 200px;
    bottom: 130px;

    width: 200px;
    height: 78px;
    color: #fff;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */

    z-index: 6;
  }

  .tasty-woman {
    position: absolute;
    right: 10px;
    bottom: 0;

    width: 304px;
    height: 241px;

    z-index: 4;
  }

  .number-of-stores {
    position: absolute;
    top: 70px;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .number-of-cafes {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .number-of-cafes h3 {
    color: #d41443;
    text-align: right;
    font-family: "Titan One";
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.84px;
    text-transform: uppercase;

    z-index: 3;
  }

  .number-of-cafes p {
    color: #fff;
    text-align: right;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .number-of-cafes svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -10px;
  }

  .number-of-foodtrucks {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .number-of-foodtrucks h3 {
    color: #d41443;
    text-align: right;
    font-family: "Titan One";
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.84px;
    text-transform: uppercase;

    z-index: 3;
  }

  .number-of-foodtrucks p {
    color: #fff;
    text-align: right;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .number-of-foodtrucks svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -10px;
  }
  /* HEADER END */

  /* MAIN START */

  /* SECTION 2 START */

  .section-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px 16px 50px 16px;
  }

  .section-two-titles {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
  }

  .section-two-titles > p {
    color: #ffa5ba;
    text-align: center;
    font-family: "Titan One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .section-two-titles > h2 {
    color: #d41443;
    text-align: center;
    font-family: "Titan One";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
  }

  .section-two-div-products-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    padding: 20px 0px 0px 0px;
  }

  .section-two-products-list-items-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }

  .products-list-items-img {
    width: 368px;
    height: 368px;
  }

  .products-list-items-background-ice-cream {
    background-color: #ffb8ca;
    width: 368px;
    height: 535px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }

  .products-list-items-title {
    color: #fff;
    text-align: center;
    font-family: "Titan One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .products-list-items-text {
    width: 304px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
  }

  .products-list-items-button {
    width: 40px;
    height: 40px;

    border-radius: 50px;
    border: none;

    color: #d41443;
    background-color: #fff;

    margin-bottom: 60px;
  }

  .section-two-products-list-items-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }

  .products-list-items-background-ice-coffe {
    background-color: #f0d1a5;
    width: 368px;
    height: 535px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }

  .section-two-products-list-items-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }

  .products-list-items-background-milkshake {
    background-color: #c2e297;
    width: 368px;
    height: 535px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }
  /* SECTION 2 END */

  /* SECTION 3 START */

  /* SECTION 3 START */

  .section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5f6;
    padding: 60px 16px 60px 16px;
    gap: 60px;
    background-image: url("../images/background-howmade-big.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .section-three-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .section-three-div > p {
    color: #ffa5ba;
    text-align: center;
    font-family: "Titan One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .section-three-div > h2 {
    color: #d41443;
    text-align: center;
    font-family: "Titan One";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
  }

  .section-three-div-cow-milk {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
    position: relative;
  }

  .section-three-cow-image {
    max-width: 501px;
    max-height: 501px;
  }

  .section-three-aside {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .section-three-p {
    max-width: 400px;
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
  }

  .section-three-p-two {
    max-width: 400px;
    color: #907e82;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 194%; /* 27.16px */
    letter-spacing: 0.56px;
  }

  .section-three-button {
    width: 176px;
    height: 44px;

    border: none;
    border-radius: 50px;
    background-color: #fff;

    color: #d41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .section-three-button:hover,
  .section-three-button:focus {
    background-color: #ffdede;
  }

  .section-three-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .section-three-informations-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 40px;
  }

  .informations-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 17px;
  }

  .informations-list-svg {
    width: 50px;
    height: 50px;
    /* stroke: #ffa5ba; */
  }

  .informations-list-svg-use {
    width: 50px;
    height: 50px;
    /* stroke: #ffa5ba; */
  }

  .informations-list-title {
    color: #d41443;
    text-align: right;
    font-family: "Titan One";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }

  .informations-list-p {
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.32px;
  }

  /* SECTION 3 END */

  /* SECTION 4 START */

  .group-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
  }
  /* SECTION 4 END */

  /* SECTION 5 START */

  .reviews {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-image {
    width: 85px;
    height: 85px;
    border-radius: 44px;
  }

  .user-review {
    margin-top: 63px;

    max-width: 750px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
  }

  .reviews-slider {
    margin-top: 47px;
    color: red;
    font-weight: 800;
    font-size: 35px;
  }

  .user-information {
    margin-top: 16px;

    width: 190px;
    height: 31px;

    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 37.2px */
  }

  /* SECTION 5 END */

  /* SECTION 6 START */

  .locations {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  .locations-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    align-items: center;
  }

  .location {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 40px 0px 40px 40px;

    width: 368px;
    /* height: 528px; */

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  }

  .location-title {
    border-radius: 4px;
    background: #f0d1a5;

    width: 80px;
    height: 28px;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
  }

  .green {
    width: 138px;
    background: #c2e297;
  }

  .location-info {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 8px;
  }

  .location-info h3 {
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
  }

  .location-info p {
    max-width: 288px;
    height: 65px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%; /* 29.28px */
    letter-spacing: 0.64px;
  }

  .location-available {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .location-available-days {
    width: 170px;
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
  }

  .location-available-hours {
    width: 170px;
    height: 23px;

    color: #ffa5ba;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
  }

  .location-contact {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
  }

  .location-contact a {
    width: 179px;
    height: 18px;

    color: #907e82;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%; /* 29.28px */
  }

  .locations-buttons-list {
    /* margin-top: 60px; */
    display: flex;
    flex-direction: row;
    gap: 14px;
  }

  .locations-button {
    border: none;
    width: 198px;
    height: 44px;
    border-radius: 22px;
    background: #d41342;

    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .locations-button:hover,
  .locations-button:focus {
    background-color: #fff;
    color: #d41443;
  }

  .franchise-button {
    border: none;
    width: 174px;
    height: 44px;
    border-radius: 22px;
    background: #fff;

    color: #d41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .franchise-button:hover,
  .franchise-button:focus {
    background-color: #ffdede;
  }
  /* SECTION 6 END */

  /* MAIN END */

  /* FOOTER START */

  .footer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  .footer-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer-slogan p {
    max-width: 475px;
    color: #ffa5ba;
    font-family: "Titan One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .footer-slogan h3 {
    max-width: 480px;
    color: #d41443;
    font-family: "Titan One";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
  }

  .footer-contacts {
    margin-top: 15px;
    /* margin-bottom: 56px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
  }

  .footer-contacts a {
    color: #d41443;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.32px;
  }

  .footer-contacts a span {
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.32px;
  }

  .copyright {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    color: #907e82;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
    letter-spacing: 0.28px;
  }

  /* FOOTER END */
}
